#before_show
  .row
    .col-sm-12.text-center
      %h3{style: "text-align: center"} El show dará comienzo en breve...
    .col-sm-12
      = image_tag 'verdad_o_atrevimiento.png', style: 'width: 100%'
#show
  .row
    .col-sm-12.text-center
      %h2{style: "text-align: center; margin-top: 300px"} Tu Otra Bonita
      %h2{style: "text-align: center"} ¡¡¡ Levtanta tu móvil !!!

#after_show
  .row
    .col-sm-12.text-center
      %h3{style: "text-align: center"} Muchas gracias boniter@s
    .col-sm-12
      = image_tag 'verdad_o_atrevimiento.png', style: 'width: 100%'

:coffeescript
  set_show_status =(colour) ->
    if colour is 'before_show'
      $('body').css('background-color', 'white')
      $('#before_show').show()
      $('#show').hide()
      $('#after_show').hide()
    else if colour is 'after_show'
      $('body').css('background-color', 'white')
      $('#before_show').hide()
      $('#show').hide()
      $('#after_show').show()
    else
      $('body').css('background-color', colour)
      $('#before_show').hide()
      $('#show').show()
      $('#after_show').hide()

  get_colour = ->
    setInterval (->
      $.ajax
        dataType: 'json',
        url: '/colour.json',
        success: (data) ->
          set_show_status(data.colour)
          return
      return
    ), 1000


  $(document).ready ->
    noSleep = new NoSleep
    # Enable wake lock.
    # (must be wrapped in a user input event handler e.g. a mouse or touch handler)

    enableNoSleep = ->
      get_colour()
      alert 'aaaaa'
      noSleep.enable()
      document.removeEventListener 'click', enableNoSleep, false
      return

    document.addEventListener 'click', enableNoSleep, false
    return
