#before_show
  .row
    .col-sm-12.text-center
      %h1{style: "text-align: center"} Toca la pantalla
    .col-sm-12
      = image_tag 'verdad_o_atrevimiento.png', style: 'width: 100%'
      %h3{style: "text-align: center, margin-bottom: 300px"} El show dará comienzo en breve...

#show
  .row
    .col-sm-12.text-center
      %h2{style: "text-align: center; margin-top: 300px; margin-bottom: 300px"} Tu Otra Bonita
      %h2{style: "text-align: center"} ¡¡¡ Levtanta tu móvil !!!

#after_show
  .row
    .col-sm-12.text-center
      %h3{style: "text-align: center; margin-bottom: 300px"} Muchas gracias boniter@s
    .col-sm-12
      = image_tag 'verdad_o_atrevimiento.png', style: 'width: 100%'

:coffeescript
  set_show_status =(colour) ->
    if colour is 'before_show'
      $('body').css('background-color', 'white')
      $('#before_show').show()
      $('#show').hide()
      $('#after_show').hide()
    else if colour is 'after_show'
      $('body').css('background-color', 'white')
      $('#before_show').hide()
      $('#show').hide()
      $('#after_show').show()
    else
      $('body').css('background-color', colour)
      $('#before_show').hide()
      $('#show').show()
      $('#after_show').hide()

  get_colour = ->
    setInterval (->
      $.ajax
        dataType: 'json',
        url: '/colour.json',
        success: (data) ->
          set_show_status(data.colour)
          return
      return
    ), 1000
    toggleFullScreen()

  toggleFullScreen = ->
    if !document.fullscreenElement and !document.mozFullScreenElement and !document.webkitFullscreenElement
      # current working methods
      if document.documentElement.requestFullscreen
        document.documentElement.requestFullscreen()
      else if document.documentElement.mozRequestFullScreen
        document.documentElement.mozRequestFullScreen()
      else if document.documentElement.webkitRequestFullscreen
        document.documentElement.webkitRequestFullscreen Element.ALLOW_KEYBOARD_INPUT
    else
      if document.cancelFullScreen
        document.cancelFullScreen()
      else if document.mozCancelFullScreen
        document.mozCancelFullScreen()
      else if document.webkitCancelFullScreen
        document.webkitCancelFullScreen()
    return

  $(document).ready ->
    noSleep = new NoSleep
    # Enable wake lock.
    # (must be wrapped in a user input event handler e.g. a mouse or touch handler)

    enableNoSleep = ->
      get_colour()
      noSleep.enable()
      document.removeEventListener 'click', enableNoSleep, false
      toggleFullScreen()

      return

    document.addEventListener 'click', enableNoSleep, false
    return
